.main-container{
    display: flex;
    padding: 3rem 6rem;
    justify-content: space-between;
    height: 80vh;
    background-color: #f6f8f9;

    mat-card{
        display: flex;
        padding: 1rem;
        width: 50%;
    }

    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }

      mat-card-header{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
      }

      .address{
        width: 50%;
        display: flex;
        padding: 2rem;
        flex-direction: column;

      }

      .function-btn{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;  
        align-items: center;
        gap: 1rem;
       
      }
    
      .button-5 {
        align-items: center;
        background-clip: padding-box;
        background-color: #56565B;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-flex;
        font-size: 12px;
        font-weight: 600;
        justify-content: center;
     
        margin: 0;
       
        padding: calc(0.575rem - 1px) calc(1.5rem - 1px);
        position: relative;
        text-decoration: none;
        transition: all 250ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        width: auto;
      }
    
      .button-5:hover,
      .button-5:focus {
        background-color: #EBF4F6;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: black;
      }
    
      .button-5:hover {
        transform: translateY(-1px);
      }
    
      .button-5:active {
        background-color: #56565B;
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        transform: translateY(0);
      }
}