

  <div class="main-conatiner">
    <header>LOGIN</header>
    <form class="form">
        
        <div class="card flex justify-content-center">
            <p-floatLabel>
                <input pInputText id="username"  />
                <label for="Email">Email</label>
            </p-floatLabel>
        </div>

        <div class="card flex justify-content-center">
            <p-floatLabel>
                <p-password />
                <label for="password">Password</label>
            </p-floatLabel>
        </div>
        <p-button label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto" (click)="login()" />

        <p>Don't have an account? <a href=""> Register here!</a></p>

        

      </form>


  </div>


  