<div class="main-container">
    <mat-card class="left-card">
      <img
        mat-card-image
        src="https://via.placeholder.com/265x296"
        alt="Placeholder Image"
      />
    </mat-card>
  
    <div class="right-content">
      <h2>About</h2>
      <p>
        Welcome to Spencer Motorcycle Rental Management System! At Spencer, we are
        passionate about motorcycles and committed to providing the best rental
        experience for our customers. Our mission is to make motorcycle rentals
        easy, affordable, and enjoyable for everyone.
      </p>
  
      <button mat-fab extended>
        <mat-icon>call</mat-icon>

        Contact Us
      </button>
    </div>
  </div>
  