.main-catainer {
  margin: 3rem;
  display: flex;
  max-height: auto;
  padding: 0rem 4rem;
  align-items: center;
  flex-direction: column;

  .main-container {
    width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }

  .slider {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    padding: 3rem;
    flex-direction: column;

    header {
      margin: auto;
      font-size: 2rem;
    }
  }

  .slides {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slide {
    display: flex;
    min-width: 100%;
    box-sizing: border-box;
    justify-content: center;
  }

  .slide img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }

  .controls {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
  }

  .example-card {
    max-width: 300px;
    height: 100%;
  }

  .example-form {
    min-width: 150px;
    max-width: 900px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }

  .card {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    
 
  }
}
