<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <img [src]="logo" alt="logo" />
  </button>
  <span class="title">Motorcycle Rental</span>
  <span class="example-spacer"></span>
  <div class="burger-center">
    <button mat-button>HOME</button>
    <button mat-button>ABOUT</button>
    <button mat-button>GET MOTORCYCLE</button>
    <button mat-button>CONTACT</button>
  </div>

  <span class="example-spacer"></span>
  <div class="function-btn">
    <button class="button-5" role="button">LOGIN</button>
    <button class="button-5" role="button">REGISTER</button>
  </div>
 
</mat-toolbar>
