mat-toolbar {
  padding: 0rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ffffff;
  -webkit-box-shadow: -5px 7px 13px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 7px 13px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 7px 13px -9px rgba(0, 0, 0, 0.75);

  .title {
    font-size: 1.2rem;
    margin-left: 0.7rem;
  }

  .burger-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .function-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #56565b;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    justify-content: center;

    margin: 0;

    padding: calc(0.575rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }

  .button-5:hover,
  .button-5:focus {
    background-color: #ebf4f6;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: black;
  }

  .button-5:hover {
    transform: translateY(-1px);
  }

  .button-5:active {
    background-color: #56565b;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
  }
}

.example-spacer {
  flex: 2 1 auto;
}
